#cover{
    background:url("images/169a970bd7e1470294ef61c289a80acc.jpg") no-repeat center center fixed;
    width: 100%;
    height: 100vh;
    font-weight: bold;
    background-size: cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;
}
.wall-sticker{
    background: rgba(0,0,0,0.4);
    padding:10rem 15rem 5rem 3rem;
    color:white;
}
.wall-sticker button{
    font-size: smaller;
}
.btn-lg{
    border-radius: 10px;
    margin-top:5em;
    height: 50px;
    background-color: aqua;
}
#centered{
    background:url("images/3983b7b6ae1e11d665407b4981e5345e.jpg") no-repeat center center;
    width: 100%;
    height: 70vh;
    font-weight: bold;
    background-size: cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;  
}
h2{
    font-size: large;
    color:rgb(66, 6, 73);
}
#last{
    background:url("images/cf2bbb6ad3e9ad31a7d63535ee8bfda6.jpg") no-repeat center center;
    width: 100%;
    height: 70vh;
    font-weight: bold;
    background-size: cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;   
}
.highlight{
    background: rgba(0,0,0,0.4);
    border: 1px solid black;
    height:50vh;
    width:50%;
    margin:5%;
}
.image{
    height:65%;
    width:75%;
    margin: 10%;
}
.highlight_lst{
    background: rgba(0,0,0,0.4);
    height:55vh;
    width:50%;
    margin:3%;
}
.blockquote{
    color: rgb(223, 154, 69);
    font-size: 35px;
    padding-left: 2%;
    padding-top: 7%;
}